/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/

/* ==================== html tags ============================ */

body {  margin: 0px 0px 0px 0px; font-family: Verdana, Helvetica, sans-serif; }

h1     { font-size : 160%; margin: 0px 0px 0px 0px;  padding: 0px; }
h2     { font-size : 140%; margin: 10px 0px 0px 0px; padding: 18px; font-weight : bold;}
h3     { font-size : 130%; margin: 0px 0px 0px 0px; padding: 0px; font-weight : bold; }
.h3 { margin: 22px 0px 3px 0px; }
h4     { font-size : 120%; margin: 0px 0px 0px 0px; padding: 0px; font-weight : normal; text-align: left; }
.h4 { margin: 18px 0px 0px 0px; }
h4.faq { font-size : 120%; margin: 18px 0px 0px 0px; padding: 0px; font-weight : bold;   text-align: left; }
h5     { font-size : 100%; margin: 14px 0px 0px 0px; padding: 0px; font-weight : normal; text-align: left; }

input { font-size : 100% }
submit { font-size : 100%  }
button { font-size : 100%  }
textarea { font-size : 100% }

p   { margin: 10px 0px 0px 0px; }
img { border: 0; margin-top: 5px; margin-bottom: 5px; }
table .title {  width:100%; border: 0px; }

/* ==================== general class modifiers ============================ */

.content { padding: 5px 5px 5px 10px; font : small Verdana, Helvetica, sans-serif;  font-size : 80%;  }
.content .ForrestTable { width: 100%; font-size : 100%; empty-cells: show;}
.content .ForrestTable caption { text-align: left; font-weight: bold; }
.content .ForrestTable th { text-align: center; }

.dida       { font-size: 80%; }
.pre        { white-space: pre;}
.textheader { display: none;  }
.headerlogo { padding: 0px 2px 2px 0px;  }
.skin       { border: 0;  margin: 0px;}
.figure     { border: 0; vertical-align: top ; margin-top: 10px; margin-bottom: 10px; }
.codefrag   { font-family: "Courier New", Courier, monospace; font-size : 100%;}
.minitoc    { list-style-image: url('images/current.gif'); font-weight : normal;}
.search     { font-size : 70%;  }
.datenote   { font-size : 60%; text-align: right;  height: 10px; white-space:nowrap;}
.dtdTag     { text-transform : uppercase;  font-style : normal;  font-size : 120%;  font-weight : bold; }
.code       { border-style: solid;  border-width: 1px;  font-size : 90%; padding: 1em 1.33em 1em 1.33em;}
.label      { font-weight: bold; }

/* ==================== menu ============================ */

.menu a {  font-weight: normal;}
.menu a:visited {  font-weight: normal; }
.menu a:active {  font-weight: normal; }
.menu a:hover {  font-weight: normal; }

.menuarea { width:10em;}

.menu { 
        padding: 8px 8px 8px 8px;  
        margin: 0px; 
        font-size : 70%;      
        border-right: 1px solid;
		border-left: 1px solid;
}

.menutitle { 
        cursor:pointer;
        padding: 5px 3px 5px 10px;  
        background-image: url('images/chapter.gif');
        background-repeat: no-repeat;
        background-position: center left;
        font-weight : bold;}

.menu .menuitemgroup { 
        margin: 0px 0px 6px 8px; 
        padding: 0px;  
        font-weight : bold; }
        
.menu .selectedmenuitemgroup{ 
        margin: 0px 0px 6px 8px; 
        padding: 0px;  
        font-weight : bold; }
        
.menu .menuitem { 
        padding: 0px 0px 2px 12px;  
        background-image: url('images/page.gif');
        background-repeat: no-repeat;
        background-position: center left;
        font-weight : normal; }

.menu .menupage {         
        margin: 5px 0px 5px 0px; 
        padding: 0px 3px 0px 12px;  
        background-image: url('images/current.gif');
        background-repeat: no-repeat;
        background-position: top left;
        font-style : normal;}

.menu .menupagetitle { 
        padding: 0px 0px 0px 6px;     
        font-style : normal;
        border-style: solid; 
        border-width: 1px;}

.menu .menupageitemgroup { 
        padding: 3px 0px 4px 6px;    
        font-style : normal;
        border-bottom: 1px solid ;
        border-left: 1px solid ;
        border-right: 1px solid ;        
        }

.menu .menupageitem {             
        font-style : normal;
        font-weight : normal; 
        border-width: 0px;
        font-size : 90%;}

.tab { font-size : 85%;
       border: 0 ;
       margin: 0 0 0 0;
       padding: 0 0 0 0;
       border-spacing: 0 0;
       vertical-align: middle;
       height:20px;	
}

.level2tab { 
       font-size : 85%;
       border: 0 ;
       margin: 0 0 0 0;
       padding: 0 0 0 0;
       border-spacing: 0 0;
       vertical-align: middle;
       height:25px;	
}

.tabstrip { 
       vertical-align: bottom;
}

.tabstripSeparator { 
       vertical-align: bottom;
       height:4px;	
       background-color: #a5b6c6;
}

.bottomborder { height:10px; }

.published { color: #000000;}
   
/* ==================== tabs ============================ */

.tab.separator { width:6px; }
.level2tab.separator { padding-left: 4px; padding-right: 4px;}
.tab.pre-separator { width:9px;}

.tab.selected   { font-weight: bold;}
.tab.unselected { background-color: #F7F7F7;}

.level2tab.selected         {}
.level2tab.unselected       {}   
.level2tab.separator        {}

.level2tab { font-size : 80%; font-weight: normal; height: 10px;}

.tab a:link {  font-weight: normal; }
.tab a:visited { font-weight: normal; }
.tab a:active { font-weight: normal; }
.tab a:hover {  font-weight: normal; }

.tab.selected  a:link {  font-weight: bold; }
.tab.selected  a:visited { font-weight: bold; }
.tab.selected  a:active { font-weight: bold; }
.tab.selected  a:hover {  font-weight: bold; }

/* ==================== snail trail ============================ */

.trail { font-size: 70%; }
.trail a:link {  font-weight: normal; }
.trail a:visited {  font-weight: normal; }
.trail a:active {  font-weight: normal; }
.trail a:hover {  font-weight: normal; }

/* ==================== special forrest items ============================ */

.note, .warning, .fixme {
	border-top: 3px solid #900;
	border-bottom: 3px solid #900;
	background-repeat: no-repeat;
	background-position: 0 1.33em;
	margin: 1.33em 0;
	padding: .33em 0 .67em 36px;
	min-height: 32px;
}

.fixme   { background-image: url(images/warning.png);}
.note    { background-image: url(images/info.png);   }
.warning { background-image: url(images/error.png);  }

/* ==================== visual class modifiers ============================ */

.leftpagemargin { width: 8px ; }
.spacer         { height:1px;  }  
.smallerfont {             
          font-size : 100%;
        padding: 0px 0px 0px 0px;  }

.biggerfont {             
        font-size : 100%;
        font-weight : bold;      
        padding: 0px 0px 0px 0px; }

.resetfont {             
        font-size : 100%;
        font-weight : normal; 
          padding: 0px 0px 0px 0px;  }
 
.footer  { border:0;
           width: 100%;
           font-size : 70%;  }
	   
/* ==================== corners ============================ */
.top-left {
	background-image: url(images/rc-t-l-5-1body-2tab-selected-3tab-selected.png);
	background-repeat: no-repeat;
	background-position: top left;
	width : 5px;
	height : 5px;
}

.top-right {
	background-image: url(images/rc-t-r-5-1body-2tab-selected-3tab-selected.png);
	background-repeat: no-repeat;
	background-position: top right;
	width : 5px;
	height : 5px;
}

.TSTL {
	background-image: url(images/rc-t-l-5-1header-2tab-selected-3tab-selected.png);
}

.TSTR {
	background-image: url(images/rc-t-r-5-1header-2tab-selected-3tab-selected.png);
}

.TUTL {
	background-image: url(images/rc-t-l-5-1header-2tab-unselected-3tab-unselected.png);
}

.TUTR {   
	background-image: url(images/rc-t-r-5-1header-2tab-unselected-3tab-unselected.png);
}

.bottom-left {
	background-image: url(images/rc-b-l-5-1body-2tab-selected-3border.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	width : 5px;
	height : 5px;
}

.bottom-right {
	background-image: url(images/rc-b-r-5-1body-2tab-selected-3border.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	width : 5px;
	height : 5px;
}

.SBBL{
	background-image: url(images/rc-b-l-5-1header-2tab-selected-3tab-selected.png);
}

.SBBR {
	background-image: url(images/rc-b-r-5-1header-2tab-selected-3tab-selected.png);
}

.heading .bottom-left {
	background-image: url(images/rc-b-l-4-1body-2heading-3heading.png);
}

.heading .bottom-right {
	background-image: url(images/rc-b-r-4-1body-2heading-3heading.png);
}

.heading .top-left {
	background-image: url(images/rc-t-l-4-1body-2heading-3heading.png);
}

.heading .top-right {
	background-image: url(images/rc-t-r-4-1body-2heading-3heading.png);
}

.subheading .bottom-left {
	background-image: url(images/rc-b-l-3-1body-2subheading-3subheading.png);
}

.subheading  .bottom-right {
	background-image: url(images/rc-b-r-3-1body-2subheading-3subheading.png);
}

.subheading  .top-left {
	background-image: url(images/rc-t-l-3-1body-2subheading-3subheading.png);
}

.subheading  .top-right {
	background-image: url(images/rc-t-r-3-1body-2subheading-3subheading.png);
}

/* ==================== main block colors ============================ */

 body           { background-color: #FFFFFF;  color:#000000;}   
.header         { background-color: #FFFFFF;}   
.heading         { background-color: #a5b6c6;}   
.subheading      { background-color: #a5b6c6;}   
.border         { background-color: #a5b6c6;}   
.subborder      { background-color: #CFDCED;}
.dialog         { background-color: #F7F7F7;}    
.footer         { background-color: #a5b6c6;}   
.tab.selected   { background-color: #a5b6c6;}
.tab.unselected { background-color: #F7F7F7;}
.level2tabstrip { background-color: #a5b6c6;}  
.level2tab.selected         {}
.level2tab.unselected       {}   
.level2tab.separator        {}

/* ==================== main text colors ============================ */

a:link    { color: #0F3660; }
a:visited { color: #000044; }
a:active  { color: #800000; }
.menu .menupagetitle     { background-color:#CFDCED; border-color: #a5b6c6;}
.menu .menupageitemgroup { background-color:#FFFFFF; border-color: #a5b6c6;}
.menu                    { border-color: #a5b6c6;}
.menu a         { color: #000000; }
.menu a:visited { color: #000000; }
.menu a:active  { color: #000000;  }
.menu a:hover   { color: #000000;  }

/* ==================== original Forrest colors ============================ */
/*
 body           { background-color: #FFFFFF;  color:#000000;}   
.header         { background-color: #294563;}   
.border         { background-color: #4a6d8c;}   
.subborder      { background-color: #cedfef;}
.dialog         { background-color: #4a6d8c;}    
.footer         { background-color: #cedfef;}   
.tab.selected   { background-color: #4a6d8c;}
.tab.unselected { background-color: #b5c7e7;}
a:link    { color: #0F3660; }
a:visited { color: #000044; }
a:active  { color: #800000; }
a:hover   { border: 0px solid #a5b6c6; background: #CFDCED; }
.menu .menupagetitle     { background-color:#CFDCED; border-color: #4a6d8c;}
.menu .menupageitemgroup { background-color:#FFFFFF; border-color: #4a6d8c;}
.menu                    { border-color: #4a6d8c;}
.menu a         { color: #ffffff; }
.menu a:visited { color: #ffffff; }
.menu a:active  { color: #ffffff;  }
.menu a:hover   { color: #000000;  }
*/
/* ==================== other colors ============================ */

.highlight { background-color: yellow;  } 
.datenote  { color: #F7F7F7;}
table .title { background-color: #FFFFFF; }
.content .ForrestTable         { color: #ffffff; background-color: #7099C5;}
.content .ForrestTable caption { color: black; }
.content .ForrestTable td      { color: black;   background-color: #f0f0ff; }
.fixme { border-color: #c60;}
.note  { border-color: #069;}
.code  { border-color: #CFDCED;}
.dtdTag { color: #990000; }


/* ==================== print ============================ */

@media print {
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid }
  blockquote, pre { page-break-inside: avoid }
  ul, ol, dl { page-break-before: avoid }

  .headerlogo { display: none;  }
  .textheader { display: block;  font-size : 70%; }
  .menu { display: none;  }
  .dida {  display: none;  }
  .minitoc { display: none;  }
  .search { display: none;  }
  .datenote { display: none;  }
  .tab  { display: none;  }
  .trail  { display: none;  }
  .top-left { display: none;  }
  .top-right { display: none;  }
  .top-left-tab  { display: none;  }
  .top-right-tab  { display: none;  }
  .bottom-left  { display: none;  }
  .bottom-right  { display: none;  }
  .bottom-left-thick { display: none;  }
  .bottom-right-thick  { display: none;  }
}

/* ==================== aural ============================ */

@media aural {
  h1, h2, h3, h4, h5, h6 { voice-family: paul, male; stress: 20; richness: 90 }
  h1 { pitch: x-low; pitch-range: 90 }
  h2 { pitch: x-low; pitch-range: 80 }
  h3 { pitch: low; pitch-range: 70 }
  h4 { pitch: medium; pitch-range: 60 }
  h5 { pitch: medium; pitch-range: 50 }
  h6 { pitch: medium; pitch-range: 40 }
  li, dt, dd { pitch: medium; richness: 60 }
  dt { stress: 80 }
  pre, code, tt { pitch: medium; pitch-range: 0; stress: 0; richness: 80 }
  em { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
  strong { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
  dfn { pitch: high; pitch-range: 60; stress: 60 }
  s, strike { richness: 0 }
  i { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
  b { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
  u { richness: 0 }
  
  :link { voice-family: harry, male }
  :visited { voice-family: betty, female }
  :active { voice-family: betty, female; pitch-range: 80; pitch: x-high }
}
